In [ ]:
Q.No.1 #List and its default functions

In [2]:
#(i) Add  list element as value of list
# append():
list = ["Jansi","Devi","Durga","Shivani"]
list.append("devi")
print(list)

['Jansi', 'Devi', 'Durga', 'Shivani', 'devi']

In [3]:
# (ii)Insert():
# Insert at index value 1990
list.insert(1969,1990)
print(list)

['Jansi', 'Devi', 'Durga', 'Shivani', 'devi', 1990]

In [7]:
# (iii) extend():
List1 = [12, 23, 34, 45]

List2 = [34, 45, 56, 67, 78]

# Add List2 to List1
List1.extend(List2)

print(List1)

#Add List1 to List2 now
List2.extend(List1)

print(List2)

[12, 23, 34, 45, 34, 45, 56, 67, 78]
[34, 45, 56, 67, 78, 12, 23, 34, 45, 34, 45, 56, 67, 78]

In [9]:
# (iv) count():
List = [10, 43, 12, 10, 26, 9, 10, 47, 25, 78, 10, 10, 56, 10]
print(List.count(10))

6

In [13]:
#(v) clear():
List = ["28", "36", "59", "10"]
print(List)

List.clear()
print(List)

['28', '36', '59', '10']
[]

In [12]:
#(vi) remove():
List = ["A", "B", "Z", "C", "D"]
print (List)

List.remove("Z")
print(List)

['A', 'B', 'Z', 'C', 'D']
['A', 'B', 'C', 'D']

In [ ]:
Q.No.2 # Dictionary & its default functions

In [17]:
#(i) new entry
dict ={'Name': 'Divya', 'Age':20, 'Class': 'B.com'}

print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Divya
dict['Age']:  20

In [19]:
#(ii) updating existing entry
dict ={'Name': 'Divya', 'Age':20, 'Class': 'B.com'}
dict['Age'] = 8 ;
dict['Collage'] = "DGVC" 

print("dict['Age']: ", dict['Age'])
print("dict['Collage']: ", dict['Collage'])

dict['Age']:  8
dict['Collage']:  DGVC

In [20]:
#(iii) duplicate entry
dict ={'Name': 'Divya', 'Age':20, 'Class': 'B.com' , 'Name': 'Anu'}
print ("dict['Name']: ", dict['Name'])

dict['Name']:  Anu

In [ ]:
Q.No.3 Sets and its default functions

In [22]:
#(i) set of integers
set = {1, 2, 3, 4}
print(set)

{1, 2, 3, 4}

In [23]:
#(ii) set of mixed datatypes
set = {1, 2, 3, 4}
print(set)

set2 = {1.0,"Element", (10, 20, 30)}
print(set2)

{1, 2, 3, 4}
{1.0, 'Element', (10, 20, 30)}

In [24]:
#(iii) duplicate sets
set = {20, 40, 20, 50, 60}
print(set)

{40, 50, 20, 60}

In [25]:
#(iv) add an elememt
set = {1, 3, 4, 5, 6, 7, 8, 9,}
set.add(2)
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
#(v) add multiple element
set = {10, 20, 30, 40, 50}
set.update([15, 25, 35, 45])
print(set)

{35, 40, 10, 45, 15, 50, 20, 25, 30}

In [ ]:
Q.No.4 tuple and explore default functions

In [27]:
#(i) empty amd ineger tuple
tuple =((), 10, 200, 300, 400, 500)
print(tuple)

((), 10, 200, 300, 400, 500)

In [28]:
#(ii) tuple with mixed data
tuple = (20, "Anamika", 100.23456)
print(tuple)

(20, 'Anamika', 100.23456)

In [29]:
#(iii) nested tuple
tuple = ("Name", [22, 44, 66, 88],(11, 33, 55, 77, 99))
print(tuple)

('Name', [22, 44, 66, 88], (11, 33, 55, 77, 99))

In [33]:
#(iv) tuple unpacking
a, b, c = tuple
tuple = (200, 500.123456, "Vishwa")


print(a)  # 200
print(b)  # 500.123456
print(c)  # vishwa

200
500.123456
Vishwa

In [34]:
#(v) Accessing tuple element using indexing
tuple = ('a', 'e', 'i', 'o', 'u')

print(tuple[1])
print(tuple[4])

e
u

In [ ]:
Q.No.5 String and Explore

In [35]:
#(i) Accessing string characters
str='data'

print('str = ', str)

str =  data

In [37]:
#(ii)first and last character
str = 'Assignment'

print('str[0]=', str[0])
print('str[-1]=', str[-1])

str[0]= A
str[-1]= t

In [38]:
#(iii) string operation

str1 = 100
str2 = 900

print('str1 + str2 =', str1 + str2)
print('str1 *5 =', str1 *5)

str1 + str2 = 1000
str1 *5 = 500

In [41]:
#(iv) iterating through a string
count = 0
for letter in 'Alphabet':
    if(letter =='e'):
        count +=1
        
print(count, 'letters found')

1 letters found